@{
    ViewBag.Title = "Serviços Externos - Início";
}
@*style="display:table-cell; vertical-align:middle; text-align:center"*@

    @*<h2 style="font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;">Serviços Externos</h2>*@
    <img src="~/Assets/img/banner6.jpeg" style="height:83vh;width:100%;" />
    @*<div id="banner-wrapper">
        <div id="banner" class="container">
            <p>Plataforma web para controle de serviços externos desenvolvida utilizando ASP.NET MVC, Entity Framework e Bootstrap 4. Designed by <a href="#" rel="nofollow">Johseffer</a>. </p>
        </div>
    </div>*@


